# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists include
- List data science tools
- Show some exemples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. lattice
3. pandas

| Data Science Tools |
| --------- |
| Watson Studio |
| RStudio |
| Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jan Eichler